.container, .container-fluid {
    padding-top: 90px;
}

.login {
    background-image: linear-gradient(to bottom right, rgba(70, 70, 70, 0.8), rgba(10, 10, 10, 0.8));
    padding:10px 30px;
    border-radius: 20px;
}